<div>
	<h4>Параметри дитини</h4>
	<%unless @child.param%> 
		<%=link_to "add", new_woman_child_param_path(@woman, @child) %>
	<%else%>
		<%=link_to "edit", edit_woman_child_param_path(@woman, @child, @child.param)%>
		<p>Стать: <%=@child.param.stat %></p>
		<p>Народився: <%=@child.param.life %></p>
		<p>Народився: <%=@child.param.stan %></p>
		<p>Маса: <%=@child.param.weight %> гр.</p>
		<p>Зріст: <%=@child.param.height %> мм.</p>
		<p>Окружність голови: <%=@child.param.head %> мм.</p>
		<p>Окружність грудної клітки: <%=@child.param.body %> мм.</p>
		<p>Асфіксія тривалість: <%=@child.param.duration %></p>
		<p>Асфіксія заходи оживлення: <%=@child.param.zahodu %></p>
	<%end%>
</div>

<div>
	<h4>Проблеми дитини</h4>
	<%unless @child.problem%> 
		<%=link_to "add", new_woman_child_problem_path(@woman, @child) %>
	<%else%>
		<%=link_to "edit", edit_woman_child_problem_path(@woman, @child, @child.problem.id)%>
		<p>Час смерті: <%=@child.problem.dead %></p>
		<p>Вади розвитку: <%=@child.problem.vadrozv %></p>
		<p>Пологові травми: <%=@child.problem.pologtravm %></p>
	<%end%>
</div>

<div>
	<h4>Оцінка Апгар</h4>
	<%unless @child.apgar%> 
		<%=link_to "add", new_woman_child_apgar_path(@woman, @child) %>
	<%else%>
		<%=link_to "edit", edit_woman_child_apgar_path(@woman, @child, @child.apgar.id)%>
		<p>Час після народження: <%=@child.apgar.afterbir %></p>
		<p>Серцебиття: <%=@child.apgar.sercebitia %></p>
		<p>Дихання: <%=@child.apgar.duhania %></p>
		<p>Колір шкіри: <%=@child.apgar.colorshkiru %></p>
		<p>Тонус мязів: <%=@child.apgar.tonysmiaziv %></p>
		<p>Рефлекси: <%=@child.apgar.reflexy %></p>
		<p>Оцінка Апгар: <%=@child.apgar.sercebitia + @child.apgar.duhania + @child.apgar.colorshkiru + @child.apgar.tonysmiaziv + @child.apgar.reflexy%></p>
	<%end%>
</div>