= render "women/backwoman"
= form_for [@woman, @diagnoz] do |f|
  .center
    %table
      %tr
        %td{colspan: "2"}
          .selcen
            %p
              Вибір групи діагнозів
            =f.select :tipdia, [["При госпіталізації", 1], ["Клінічний", 2], ["Заключний", 3]], {:include_blank => false}, {class: "selcen"}
      %tr
        %td
          =grouped_collection_select  nil, nil, Admin::MkhGroup.all, :mkhs, :name, :id, :name, {:include_blank => false}, {class: "sel", size: "10"}
        %td
          .pid
            =link_to_function "Добавити", "add_field_diamkh(this)"
            = f.fields_for :diamkhs do |m|
              %p
          %table{class: "table_for_diamkhs"}
            -@diagnoz.diamkhs.each do |dia|
              %tr
                %td
                  =dia.mkh.name
  = link_to_function "das", "refresh_diamkh()"
  = f.submit 'Save'
