<!DOCTYPE html>
<html>
<head>
  <title>Mama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.22.custom.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header"%>
<% if current_doctor%>
<%= render "layouts/left_menu"%>
<% end %>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
