<!DOCTYPE html>
<html>
<head>
  <title>Mama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.22.custom.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%if current_doctor %>
    <% if current_doctor.role != 1%>
        <%= render "layouts/header"%>
        <%= render "layouts/left_menu"%>
        <div class="container">
          <% flash.each do |key, value| %>
              <div class="alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>
        </div>
    <% else %>
        <%= render "layouts/header"%>
        <%= render "layouts/left_menu_admin"%>
        <div class="container">
          <% flash.each do |key, value| %>
              <div class="alert-<%= key %>"><%= value %></div>
          <% end %>

          <%= yield %>sdsvsd
        </div>
    <% end %>
<% else %>

    <%= yield %>
<% end %>

</body>
</html>
